* {
  padding: 0;
  margin: 0;
  outline: none;

}
@font-face {
  font-family: Gilroy-Bold; /* Имя шрифта */
  src: url(shrifts/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: Gilroy-Medium; /* Имя шрифта */
  src: url(shrifts/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
 }

body {
  font-family: Gilroy-Bold;
  display: grid;
  grid-template-rows: 16.137844% 10.6324858% 12.81781887% 47.341878546% 13.06997%;
}
.home {
  height: 768px;
  background-color: white;
}

.name_user {
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.text_name_user {
  /* background-color: blue; */
  padding-top: 10px;
}

.text_info_about_user {
  margin-left: 110px;
  /* background-color: #828282; */
  margin-top: 70px;


}

.info_about_user {
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  /* background-color: brown; */
}

.language {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  position:relative;

  /* background-color: chartreuse; */
}

.text_language {
  /* background-color: chocolate; */
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
}

.line {
  padding-top: 10px;
}

.object_line {
  border: 1px solid #828282;
transform: matrix(1, 0, 0, 1, 0, 0);
}

.description {
  padding-top: 28px;
  height: 138.8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text_link {
  font-family: Gilroy-Medium;

  color: #828282;
  font-size: 14px;
  line-height: 17px;
}
.text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
}

.title {
  font-size: 34px;
  line-height: 42px;
}

.about_me {
  height: 506px;
  text-align: center;

  background-color: #F6F6F6;
}

.skills {
  text-align: center;

  height: 610px;
  background-color: white;

}

.portfolio {
  text-align: center;

  height: 2253px;
  background-color: #F6F6F6;
}

.contacts {
  text-align: center;

  height: 622px;
  background-color: white;

}


/*design home block */

.photo_me {
  text-align: center;
}

.home_body {
  margin-left: auto;
  margin-right: auto;
  width: 943px;
  /*margin: 0% 17.349135% 0% 17.349135%;*/
  /* background-color: violet; */
  height: 276.94px;
  
}

.header {
  /*margin-top: 0px;*/
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* background-color: chocolate; */
  height: 67.9px;
}

.photo_me {
  margin-left: auto;
  margin-right: auto;
  width: 943px;
  height: 387px;
  background-image: url("images/BSPP2266.png");


}

.photo_me_mobile {
  display: none;
}

.sections_row {
  color: #070707;
  padding-top: 30px;
}

.text_contacts {
  text-align: end;
}

/*design home block */


/*design about me block */

.title_about_me {
  padding-top: 117px;
  padding-bottom: 19px;
}

.text_about_me_2 {
  padding-top: 40px;
  padding-bottom: 60px;
}

/*design about me block */
.title_skills {
  padding-top: 89px;
  padding-bottom: 65px;
}



.skills_images {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 943px;
  display: flex;
  justify-content: space-between
}

/*design portfolio block */
.title_portfolio {
  padding-top: 110px;
}

.image_portfolio_1 {
  padding-top: 47px;
  padding-bottom: 41px;}

.image_portfolio_2 {
  padding-top: 99.1px;
  padding-bottom: 41px;
}

.image_portfolio_3 {
  padding-top: 99.08px;
  padding-bottom: 41px;
}


/*design contacts block */
.send_message {
padding-top: 12px;
padding-bottom: 12px;
margin-left: 43.3%;
margin-right: 43.3%;
border-radius: 60px 60px 60px 60px;
background-color: #070707;
  color: white;
}

.contact {
  padding-top: 108px;
}

.text_contact {
  padding-top: 22px;
  padding-bottom: 29.6px;
}

.image_contact {
  padding-top: 86.6px;
}

.link_contact {
  padding-top: 42px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: darkorchid;
  }

  .description {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .header {
    display: none;
  }

  .photo_me {
    display: none;
  }

  .language {
    display: none;
  }
  .line {
    display: none;
  }

}
